@mixin pair-hover {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 36px 12px rgba(255,255,255,0.75);
    font-weight: bold;
}

@mixin pair-active($color) {
    background-color: $color;  
    box-shadow: 1px 1px 36px 12px rgba(255,0,0,0.75);
    color: white;
    border-color: red;
}

@mixin pair-selected {
    background-color: rgba(0,128,0,0.75);  
    box-shadow: 1px 1px 36px 12px rgba(0,128,0,0.75);
    color: white;
    border-color: green;
}

.pair {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    animation: chorunk 2.3s ease-in-out;
    animation-iteration-count: unset;
    
    &.selected {
        @include pair-selected();
    }

    &:hover {
        @include pair-hover();
        transform: scale(1.1);
    }
    &:active {
        @include pair-active(yellow);
    }
}

@keyframes chorunk {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.7) rotateZ(420deg);
        @include pair-hover()
    }

    66% {
        transform: scale(1.4) rotateZ(-66deg);
        @include pair-active(red)
    }

    100% {
        transform: scale(1);
    }
}

